<%= link_to "Build your pop", {:controller => 'generate_pdf', :action => 'show.pdf'}, :class => ' left btn new in-top', :target => "_blank" %> 

<%= link_to("Show Competencies", {:controller => 'competencies'}, :class => "btn link arrow-forward in-top") %>

	<h2>Showing user</h2> 

	<table>	
		<% if current_user.name? %>
		<tr>
			<td class="bold">Name:</td> 
			<td><%= current_user.name %></td>
		</tr>
		<% end %>
		<% if current_user.username? %>
			<tr>
				<td class="bold">Username:</td> 
				<td><%= current_user.username %></td>
			</tr>
		<% end %>
		<% if current_user.email? %>
			<tr>
				<td class="bold">Email:</td> 
				<td><%= current_user.email %></td>
			</tr>
		<% end %>

		<% if current_user.mobile? %>
			<tr>
				<td class="bold">Mobiel nr:</td> 
				<td><%= current_user.mobile %></td>
			</tr>
		<% end %>

		<% if current_user.student_number? %>
			<tr>
				<td class="bold">Student nr:</td> 
				<td><%= current_user.student_number %></td>
			</tr>
		<% end %>
			<tr>
				<td class="bold">Updated at:</td> 
				<td><%= current_user.updated_at.strftime "%d/%m/%Y %H:%M" %></td>
			</tr>
	</table>
	
	<div class="profile-picture js-user-image">
		<%= image_tag current_user.avatar %>
	</div>
	
	<div class="clearfix"><br></div>

	<%= link_to("Delete user", {:action => 'delete'}, :class => "btn delete left") %>

	<%= link_to("Edit user", {:action => 'edit'}, :class => "btn edit bigger") %>


